# --- Node.js Application Variables ---
NODE_ENV=development
PORT=3000
MONGO_URI=your-mongodb-atlas-connenction-string # get it from mongodb atlas dashboard
REDIS_URI=redis://localhost:6379
# Ai service endpoints
AI_EXTRACT_FACE_URL=http://localhost:5000/api/v1/extract-faces
AI_HEALTH_CHECK=http://localhost:5000/health
FRONTEND_URL=your_frontend_url