# --- Docker Database Credentials ---
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=super_secret_password_123

# --- Node.js Application Variables ---
PORT=3000
MONGO_URI=mongodb://admin:super_secret_password_123@localhost:27018/attendence-face-recognition?authSource=admin
REDIS_URI=redis://localhost:6379
# Ai service endpoints
AI_EXTRACT_FACE_URL=http://localhost:5000/api/v1/extract-faces